@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.showcase-container {
    display: flex;
}

.sub-container {
    border: 1px solid #000;
}

.sub-container img {

}

.sub-container a:visited {
    color: #000;
}